<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 <section class="page-header">
    <h1 class="project-name">Welcome to  the Tweb-bootcamp APP</h1>
    <h2 class="project-tagline"></h2>
    <a href="https://matthieuvillard.github.io/TWEB-Bootcamp/" class="btn">Landing Page</a>
  </section>

</body>
</html>
